

<section class="bg-color">

    <div class="containers">
  
      <div class="title">
        <p>Tienda de Julian</p>
        <h2><span>YU-GI</span> -OH</h2>
      </div>
  
  
  
      <div class="row">
        <!--inicio de carta-->
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">-9%</div>
              <div class="label label-green">Pre-order</div>
              <div class="product-container">
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://cdn.shopify.com/s/files/1/0540/2663/3390/products/d0f41ea1-8fc6-5bce-8f4d-486cd9a13b7c_38fa3ac2-8b41-4bda-9fbb-6bad651838ad_800x.png?v=1639609023"
                    alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://http2.mlstatic.com/D_NQ_NP_679305-MLM50655420402_072022-O.jpg" alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e4175c3f-297e-48be-8d30-8480016829c7/d6dlsyg-52f89407-773a-464f-93d3-4648cc91f3fb.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U0MTc1YzNmLTI5N2UtNDhiZS04ZDMwLTg0ODAwMTY4MjljN1wvZDZkbHN5Zy01MmY4OTQwNy03NzNhLTQ2NGYtOTNkMy00NjQ4Y2M5MWYzZmIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.k4l8iCg25RvwL970YL9xb-4qbIzXhg9FMIB3KqF9_QA"
                    alt="Product"></div>
              </div>
              <div class="image">
                <img src="{{url}}" alt="Product">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li routerLink="Acerca" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
                    class="list-group-item">Acerca de
                  </li>
                </ul>
              </div>
            </div>
            <div class="content">
              <a href="javascript:void(0);">Calificacion</a>
              <div class="rating">
                <i class="rating">5/5</i>
              </div>
              <p><span class="money">$50.00</span><span class="price-old"></span></p>
            </div>
          </div>
  
  
        </div>
        <!--inicio de carta-->
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">-9%</div>
              <div class="label label-green">Pre-order</div>
              <div class="product-container">
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://cdn.shopify.com/s/files/1/0540/2663/3390/products/d0f41ea1-8fc6-5bce-8f4d-486cd9a13b7c_38fa3ac2-8b41-4bda-9fbb-6bad651838ad_800x.png?v=1639609023"
                    alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://http2.mlstatic.com/D_NQ_NP_679305-MLM50655420402_072022-O.jpg" alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e4175c3f-297e-48be-8d30-8480016829c7/d6dlsyg-52f89407-773a-464f-93d3-4648cc91f3fb.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U0MTc1YzNmLTI5N2UtNDhiZS04ZDMwLTg0ODAwMTY4MjljN1wvZDZkbHN5Zy01MmY4OTQwNy03NzNhLTQ2NGYtOTNkMy00NjQ4Y2M5MWYzZmIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.k4l8iCg25RvwL970YL9xb-4qbIzXhg9FMIB3KqF9_QA"
                    alt="Product"></div>
              </div>
              <div class="image">
                <img src="{{url}}" alt="Product">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                  <li><a href=""><i class="fa fa-heart"></i></a></li>
                  <li><a href=""><i class="fa fa-search"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="content">
              <a href="javascript:void(0);">Calificacion</a>
              <div class="rating">
                <i class="rating">5/5</i>
              </div>
              <p><span class="money">$50.00</span><span class="price-old"></span></p>
            </div>
          </div>
        </div>
  
        <!--inicio de carta-->
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">-9%</div>
              <div class="label label-green">Pre-order</div>
              <div class="product-container">
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://cdn.shopify.com/s/files/1/0540/2663/3390/products/d0f41ea1-8fc6-5bce-8f4d-486cd9a13b7c_38fa3ac2-8b41-4bda-9fbb-6bad651838ad_800x.png?v=1639609023"
                    alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://http2.mlstatic.com/D_NQ_NP_679305-MLM50655420402_072022-O.jpg" alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e4175c3f-297e-48be-8d30-8480016829c7/d6dlsyg-52f89407-773a-464f-93d3-4648cc91f3fb.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U0MTc1YzNmLTI5N2UtNDhiZS04ZDMwLTg0ODAwMTY4MjljN1wvZDZkbHN5Zy01MmY4OTQwNy03NzNhLTQ2NGYtOTNkMy00NjQ4Y2M5MWYzZmIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.k4l8iCg25RvwL970YL9xb-4qbIzXhg9FMIB3KqF9_QA"
                    alt="Product"></div>
              </div>
              <div class="image">
                <img src="{{url}}" alt="Product">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                  <li><a href=""><i class="fa fa-heart"></i></a></li>
                  <li><a href=""><i class="fa fa-search"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="content">
              <a href="javascript:void(0);">Calificacion</a>
              <div class="rating">
                <i class="rating">5/5</i>
              </div>
              <p><span class="money">$50.00</span><span class="price-old"></span></p>
            </div>
          </div>
        </div>
  
        <!--inicio de carta-->
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <div class="discount">-9%</div>
              <div class="label label-green">Pre-order</div>
              <div class="product-container">
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://cdn.shopify.com/s/files/1/0540/2663/3390/products/d0f41ea1-8fc6-5bce-8f4d-486cd9a13b7c_38fa3ac2-8b41-4bda-9fbb-6bad651838ad_800x.png?v=1639609023"
                    alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://http2.mlstatic.com/D_NQ_NP_679305-MLM50655420402_072022-O.jpg" alt="Product"></div>
                <div class="p" (mouseover)="imageChange($event)"><img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e4175c3f-297e-48be-8d30-8480016829c7/d6dlsyg-52f89407-773a-464f-93d3-4648cc91f3fb.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U0MTc1YzNmLTI5N2UtNDhiZS04ZDMwLTg0ODAwMTY4MjljN1wvZDZkbHN5Zy01MmY4OTQwNy03NzNhLTQ2NGYtOTNkMy00NjQ4Y2M5MWYzZmIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.k4l8iCg25RvwL970YL9xb-4qbIzXhg9FMIB3KqF9_QA"
                    alt="Product"></div>
              </div>
              <div class="image">
                <img src="{{url}}" alt="Product">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                  <li><a href=""><i class="fa fa-heart"></i></a></li>
                  <li><a href=""><i class="fa fa-search"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="content">
              <a href="javascript:void(0);">Calificacion</a>
              <div class="rating">
                <i class="rating">5/5</i>
              </div>
              <p><span class="money">$50.00</span><span class="price-old"></span></p>
            </div>
          </div>
  
  
        </div>
  
  
  
  
  
  
      </div>
    </div>
  </section>